@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.page-section {
  /*margin-top: 0px;*/
}

.page-section.cta {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #582565;
  padding-top: 50px;
}

.container {
  margin-top: 50px;
  margin-bottom: 0;
  width: 850px;
}

.btn.btn-outline-primary {
  color: #582565;
  border-color: hsla(0,0%,100%,.85);
}

.btn.btn-primary {
  background-color: #582565;
  border-color: #582565;
}


.btn.btn-outline-primary:hover {
  color: #582565;
  background-color: #582565;
}
.carousel-control-prev {
  width: 25%;
}

.carousel-control-next {
  width: 25%;
}

.cta {
  background-color: #FFFFFF;
}

.btn.btn-ouline-primary:focus {
  border-color: #582565;
}

.btn.btn-ouline-primary:hover {
  border-color: #582565;
}

.title {
  color: #EABFFF;
}

